body {
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 400;
    background-color: hsl(223, 100%, 88%);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    width: 950px;
}
.logo {
    margin: 40px 0;
    width: 70px;
}
.container .card .title {
    color: hsl(0, 0%, 59%);
    font-weight: 400;
    margin-top: -15px;
}
.container .card .paragraph {
    color: hsl(209, 33%, 12%);
    margin: 10px 0;
}
.container .card .input input {
    width: 300px;
    height: 40px;
    border-radius: 20px;
    padding: 0px 12px;
    margin-top: 13px;
}
input {
    border: solid 1px hsl(0, 0%, 59%);
}
.container .card .btn {
    background-color: hsl(223, 87%, 63%);
    border-radius: 20px;
    padding: 12px 45px;
    color: #ffffff;
    border: none;
    margin-left: 5px;
    transition: 0.3s;
}
.container .card .btn:hover {
    opacity: 0.8;
    cursor: pointer;
}
.container .card .title span {
    font-weight: bold;
    color: #000000;
}
.container .card .image-principal {
    margin-top: 30px;
    width: 520px;
    height: 100%;
}
.container .card .icons {
    display: flex;
    gap: 25px;
    margin-top: 20px;
}
.container .card .copyright {
    color: hsl(0, 0%, 59%);
    margin: 25px 0;
}
/* Java Script */
.campo-preenchido {
    border: solid 1px green;
}
.campo-requered {
    border: solid 1px red;
}
.campo-obrigatorio {
    color: red;
    margin-right: 15px;
    font-size: 14px;
}
.campo-obrigatorio.ativo {
    display: none;
}